<article id="blog_post">

  <header class="row row-top-0">
    <div class="col-md-4 no-padding">
      <% if @post.image.present? %>
        <div class="blog-image blog-image-big blog-image-shrink-center" style="background: url('<%= @post.image.url %>') no-repeat center bottom;">
        </div>
      <% else %>
        <div class="blog-image blog-image-shrink-center shrink-center">
          <%= @post.title %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 shrink-center" style="padding-left: 40px;">
      <h1 class="bolder"><%= @post.title %></h1>

      <section class='details top-margin'>
        <section class='row row-top-0 details'>          
          <% if @allow_author %>
            <section class='col-md-<%= @column_count %> no-padding'>
              <b>Author:</b>
              <a target="_blank" href="<%= gplus_link(@post)%>?rel=author"><%= author_name(@post) %></a>
            </section>
          <% end %>

          <section class='col-md-<%= @column_count %> no-padding'>
            <b>Posted on:</b>
            <%= @post.published_at.strftime("%B %d, %Y") if @post.published_at.present? %>
          </section>

          <section class='col-md-<%= @column_count %> no-padding'>
            <b>Comments:</b>
            <% comments = @post.comments %>
            <%= comments.any? ? "#{pluralize(comments.length, 'comment')}" : "No comments" %>
          </section>

          <section class='col-md-<%= @column_count %> no-padding'>
            <b>Categories:</b>
            <%= HtmlHelper.get_categories_html(@post, refinery).html_safe %>
          </section>

        </section>
      </section>
    </div>
  </header>

  <hr class="light-grey" />

  <%= @post.body.html_safe %>

  <% if @post.rating %>
    <div class="visuallyhidden">
      <div itemscope itemtype="http://data-vocabulary.org/Review">
        <span itemprop="itemreviewed"><%= @post.title %></span>
        Reviewed by <span itemprop="reviewer"><%= author_name(@post) %></span>
        Rating: <span itemprop="rating"><%= @post.rating %></span>
      </div>
    </div>
  <% end %>

  <% if (ENV['SHOW_SOCIAL'] && !(hide_social_sharing rescue false))%>
    <strong>Share:</strong>
    <div id="addthis_responsive_sharing_9onr"></div>
  <% end %>
  <br>
   <% if (tags = @post.tags).any? %>
    <div class="row row-top-0">
      <div class="col-md-12 no-padding blog-tags">
        <b>Tags:&nbsp;</b>
        <%= raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.to_sentence %>
      </div>
    </div>
  <% end %>
  <br>

</article>
<%= render '/refinery/draft_page_message' unless @post.nil? or @post.live? -%>