
  <!-- Top bar -->
  <header> 
    
    <!-- Dropdown menu -->
    <% if is_contact? %>
    <nav>
    <%else%>
    <nav class="nav-menu">
    <%end%>
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2"> 
              <!-- Your logo -->
              <div class="logo"><a href="<%="/index"%>"><img src="assets/img/logo.png" alt="KVP"/></a></div>
              <!-- and Your logo --> 
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="menu-container"> 
                
                <!-- Menu nav bar -->
                <ul id="menu">
                  <li class="drop active"><a href="<%="/index"%>">Home<i class="fa fa-angle-right"></i></a> </li>
                  <li class="drop"><a href="<%="/services"%>" >Services<i class="fa fa-angle-right"></i></a> </li>
                  <li class="drop"><a href="<%="/technologies"%>" class="slideUp">Technology <i class="fa fa-angle-right"></i></a> </li>
                  <li class="drop"><a href="#">Industry <i class="fa fa-angle-down"></i></a>
                    <ul class="sub-menu slideDown">
                      <li><a href="<%="/manufacturing"%>">Manufacturing</a></li>
                      <li><a href="<%="/financial_services"%>">BFSI</a></li>
                      <li><a href="<%="/real_estates"%>">Real Estate</a></li>
                      <li><a href="<%="/technology"%>">Technology</a></li>                     
                      <li><a href="<%="/life_sciences"%>">Life Sciences</a></li>
                    </ul>
                  </li>
                  <li class="drop"><a href="<%="/blog"%>">Blog <i class="fa fa-angle-right"></i></a></li>
                  <li class="drop"><a href="<%="/about_us"%>">About Us <i class="fa fa-angle-down"></i></a>
                  <ul class="sub-menu slideDown">
                      <li><a href="<%="/team"%>">Core Team</a></li>
                      <li><a href="<%="/passion_to_action"%>">Passion to Action</a></li>
                      <li><a href="<%="/heritage"%>">Heritage</a></li>
                      <li><a href="<%="/award"%>">Awards</a></li>
                     
                    </ul>
                  
                   </li>
                  <li class="drop"><a href="<%="/careers"%>">Careers <i class="fa fa-angle-right"></i></a> </li>
                  <li  class="drop"><a href="<%="/contact_us"%>">Contact Us <i class="fa fa-angle-right"></i></a></li>
                </ul>
                <!-- and Menu nav bar --> 
              </div>
              <!-- and menu-container --> 
            </div>
            <!-- and col-md-10 --> 
            
          </div>
          <!-- and row --> 
        </div>
        <!-- and container --> 
      </div>
      <!-- and header --> 
      
    </nav>
    <!-- and Dropdown menu --> 
    
  </header>
  <!-- and header -->