<!DOCTYPE html>
<html>
  <style>
    body{
      padding-top: 20px;
    }
  </style>
  <body class="blog_page">
    <%= yield :body_analytics_scripts %>


    <%= raw PageTextHelper.get_text_value("static", "blog-hero") %>

    <main role="main">
      <div class='main-container'>
        
        <div class="container blog-container no-padding">
          <div class='row row-top-0 blog-content' style="padding: 0px !important">
            <div class="col-md-12 blogs">
              <p style="margin-bottom: 5px;">
                <%= link_to "/blog", :class => "blog-link" do %>
                  <img src="<%= asset_path('home_icon.png') %>" style="position:relative; top: -2px;" >&nbsp;&nbsp;Blog Home
                <% end %>
              </p>
              <%= yield %>
            </div>
          </div>
        </div>

      </div>
    </main>

  </body>
</html>
